

.container-payment{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    background: white;
    width: 50%;
    margin-left: 22%;
    margin-top: 3%;
}