.userSignup {
    position: absolute;
    background-color: rgb(90 204 253);
    height: 20rem;
    width: 29rem;
    top: 20%;
    left: 32%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 3rem;
}

.input {
    background-color: white;
    font-size: 1.5rem;
    margin: 0rem 4rem;
    border-radius: 1rem;
    border: none;
    padding: 0.5rem;
}


.user {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.login_box_p {
    font-size: 2rem;
    margin-bottom: -3px;
}

.adminloginbtn {
    background-color: white;
    margin-top: 3rem;
    font-size: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    border: none;
    color: green;
    cursor: pointer;
}

.btn:active {
    transform: scale(0.98);
}

.error {
    color: red
}